/* Header */
.youtube header {
  display: flex;
  margin-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.youtube header .bars {
  margin-top: 7px;
  margin-right: 18px;
}

.youtube header .youtubeLogo {
  height: 30px;
  width: 90px;
  margin-right: 200px;
}

.youtube header input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 360px;
    padding-left: 12px;
    border: black solid 0.3px;
}

.youtube header .SearchButton{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0.3px solid black;
    border-left: none;
}

.youtube header .SearchButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.youtube header .SearchButton:active {
  opacity: 0.4;
}

.youtube header .microphoneIcon,
.youtube header .videoSlash,
.youtube header .bell {
  margin-top: 8px;
  width: 40px;
}

.youtube header .microphoneIcon {
  margin-left: 8px;
}

.youtube header .videoSlash {
  margin-left: 140px;
}

.youtube header .bell {
  margin-left: 6px;
}

.youtube header .profilePicture {
  width: 32px;
  margin-left: 6px;
}

/* Section */
.youtube section {
  display: flex;
}

.youtube section .videoPlay {
  display: block;
  margin-right: 70px;
}

.youtube section .videoPlay iframe {
  margin-top: 20px;
  margin-left: 20px;
  width: 600px;
  height: 345px;
  border-radius: 16px;
}

.youtube section .videoPlay .items h1 {
  margin-top: 10px;
  margin-left: 20px;
}

.youtube section .videoPlay .items .channel {
  display: flex;
  margin-top: 8px;
}

.youtube section .videoPlay .items .channel img {
  border-radius: 1000px;
  width: 30px;
  margin-left: 20px;
  margin-top: 6px;
}

.youtube section .videoPlay .items .channel .channelTitile {
  margin-left: 8px;
}

.youtube section .videoPlay .items .channel .channelTitile .channelName {
  font-size: 16px;
  margin-top: 4px;
  margin-left: 8px;
}

.youtube section .videoPlay .items .channel .channelTitile .subscribers {
  font-size: 12px;
  margin-top: 6px;
  margin-left: 8px;
}

.youtube section .videoPlay .items .channel .subscribe,
.youtube section .videoPlay .items .channel .like,
.youtube section .videoPlay .items .channel .dislike,
.youtube section .videoPlay .items .channel .share {
  margin-top: 8px;
  width: 66px;
  height: 28px;
  border-radius: 30px;
  border: none;
  transition: opacity 0.3s;
}

.youtube section .videoPlay .items .channel .subscribe{
    margin-left: 14px;
    width: 120px;
    height: 26px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.youtube section .videoPlay .items .channel .like{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0.5px solid black;
    margin-left: 60px;
}

.youtube section .videoPlay .items .channel .dislike{
    padding-top: 4px;
    width: 46px;
    margin-right: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.youtube section .videoPlay .items .channel .subscribe:hover,
.youtube section .videoPlay .items .channel .like:hover,
.youtube section .videoPlay .items .channel .dislike:hover,
.youtube section .videoPlay .items .channel .share:hover,
.youtube section .videoPlay .items .channel .download:hover,
.youtube header .microphoneIcon:hover,
.youtube header .videoSlash:hover,
.youtube header .bell:hover,
.youtube header .bars:hover{
  cursor: pointer;
  opacity: 0.7;
}

.youtube section .videoPlay .items .channel .subscribe:active,
.youtube section .videoPlay .items .channel .like:active,
.youtube section .videoPlay .items .channel .dislike:active,
.youtube section .videoPlay .items .channel .share:active,
.youtube section .videoPlay .items .channel .download:active,
.youtube header .microphoneIcon:active,
.youtube header .videoSlash:active,
.youtube header .bell:active,
.youtube header .bars:active {
  opacity: 0.4;
}

.youtube section .videoPlay .items .channel .download {
  margin-top: 14px;
  margin-left: 18px;
}

/* section Videos*/

.youtube section .suggestedVideos{
  display: block;
  margin-top: 24px;
}